.hero-section {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-backrgound-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)),
    url(../images/hero/bg_img_sm@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url(../images/hero/bg_img_sm@2x.jpg);
  }

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url(../images/hero/bg_img_md@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-gradient),
          var(--hero-gradient)
        ),
        url(../images/hero/bg_img_md@2x.jpg);
    }
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        var(--hero-gradient),
        var(--hero-gradient)
      ),
      url(../images/hero/bg_img_lg@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          var(--hero-gradient),
          var(--hero-gradient)
        ),
        url(../images/hero/bg_img_lg@2x.jpg);
    }
  }

  @media screen and (max-width: 1119px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero-section__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);

  @media screen and (max-width: 1119px) {
    width: 360px;
    font-size: 26px;
    line-height: calc(42 / 26);
  }
}

.hero-section__btn {
  padding: 10px 32px;
  min-width: 216px;
  transition: background-color var(--anmtn-duration-cubic);

  &:active,
  &:hover,
  &:focus {
    background-color: var(--btn-active-color);
  }
}
