.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    width: 96vw;
    max-height: 609px;
    padding: 40px;

    background-color: var(--main-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform var(--anmtn-duration-cubic), opacity var(--anmtn-duration-cubic);

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 581px;
    }

    .backdrop--is-hidden & {
        transform: translateX(-50%) translateY(-50%) scale(1.2);
        opacity: 0;
        }
}

