.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--main-background-color);
    color: var(--icon-main-color);
    transition: color var(--anmtn-duration-cubic), background-color var(--anmtn-duration-cubic);

    &:hover, &:focus {
        background-color: var(--accent-color);
        color: var(--icon-white-color);
        }
    }

.socials__icon {
    fill: currentColor;
}

.socials__link--dark {
    background-color: var(--icon-footer-bg-color);
    color: var(--icon-white-color);
    transition: background-color var(--anmtn-duration-cubic);

    &:hover, &:focus {
        background-color: var(--accent-color);
    }
}