.subscription-form {
    @media screen and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @media screen and (max-width: 479px) {
        width: 100%;
    }
}

.subscription-form__label {
    width: 100%;
    margin-right: 13px;

    @media screen and (max-width: 1199px) {
        text-align: center;
        margin-right: 0;
    }
}
.subscription-form__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    color: var(--main-white-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    &::placeholder {
            font-size: 16px;
            line-height: calc(20/16);
            letter-spacing: 0.03em;
    }

    @media screen and (max-width: 1199px) {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        width: 450px;
    }

    @media screen and (max-width: 479px) {
        width: 100%;
    }
}

.subscription-form__btn {
    position: relative;
    text-align: left;

    // @media screen and (max-width: 1199px) {
    //     display: inline-block;
    //     margin-right: auto;
    //     margin-left: auto;
    // }
}

.btn__icon-send {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}