.work__section {
    padding-top: 0;
}

.work__list {
    --items: 3;
}

.work__item {
    position: relative;
}

.work__overlay {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70px;

    background-color: var(--overlay-dark-background-color);
}

.work__text {
    font-weight: 700;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-color);
}